table.chess {
  border: 2px solid black;
}

td.light_sq, td.dark_sq, img.piece_img, td.number {
  height: 50px;
}
td.light_sq, td.dark_sq, img.piece_img, td.letter {
  width: 50px;
}

td.light_sq {
  background-color: #FFDB87;
}

td.dark_sq {
  background-color: #B57713;
}
